<div fxLayout="column" fxLayoutAlign="center unset" mat-dialog-title style="position: relative">

  <div (click)="onClickCloseModal()" class="close" fxLayoutAlign="unset end">
    <mat-icon>close</mat-icon>
  </div>
</div>


<mat-dialog-content [ngClass.lt-md]="{'mat-size-md': true, 'mat-size-lt': false }"
  [ngClass.lt-sm]="{'mat-size-sm': true, 'mat-size-md': false }" class="mat-size-lt mat-typography" fxLayout="column"
  fxLayoutAlign="center center" fxLayoutGap="15px">
  <!-- PERGUNTA -->
  <ng-container *ngIf="questions.length !== position">
    <div fxLayoutAlign="center none">
      <p>{{ questions[position]?.pergunta }}</p>
    </div>

    <!-- TEXTO -->
    <!--    <ng-container *ngIf="questions[position]?.type === 'TEXT'">-->
    <ng-container *ngIf="questions[position]?.tipo === 'T'">

      <div>
        <mat-form-field appearance="outline">
          <input [(ngModel)]="questions[position].resposta" autocomplete="off" matInput name="resposta">
        </mat-form-field>

      </div>

    </ng-container>

    <ng-container class="mat-button" *ngIf="questions[position]?.tipo === 'B'">

      <div *ngIf="questions[position]">
        <button (click)="onClickNext()" class="mat-button" style="width: 100px; " mat-flat-button
          color="primary">SIm</button>
        <button (click)="onClickNext()" class="mat-button" style="width: 100px; " mat-flat-button
          color="warn">Não</button>

      </div>

    </ng-container>

    <ng-container *ngIf="questions[position]?.tipo === 'C'">

      <div *ngIf="questions[position]" fxLayout="column">
        <ng-container *ngFor="let opcao of questions[position].opcoes">
          <section>
            <mat-checkbox color="primary" (ngModelChange)="onChangeCheckBox($event)" [(ngModel)]="opcao.id"> {{
              opcao.opcao }}
            </mat-checkbox>
          </section>

        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <!-- FIM -->
  <ng-container *ngIf="questions.length === position">

    <h2>Enviar seu formulário a e aguarde á proposta da seguradora </h2>

    <button (click)="onClickNext()"
      style="width: 200px; height: 50px; background-color: blue; color: #f6f6f6; border-radius: 5px">
      Enviar
    </button>
  </ng-container>
</mat-dialog-content>
<!-- BOTÕES -->

<ng-container *ngIf="questions.length !== position">
  <mat-dialog-actions fxLayoutAlign="space-between center ">
    <button (click)="onClickBack()" [ngClass]="{'cancel-btn': position === 0, 'back-btn': position !== 0}"
      class="seg-btn-lt" mat-button ngClass.lt-md="seg-btn-md" ngClass.lt-sm="seg-btn-sm">
      {{ position === 0 ? 'Cancelar' : 'Voltar'}}
    </button>
    <button (click)="onClickNext()"
      [ngClass]="{'next-btn': position !== questions.length - 1, 'finish-btn': position === questions.length - 1 }"
      class="seg-btn-lt" mat-button ngClass.lt-md="seg-btn-md" ngClass.lt-sm="seg-btn-sm">
      {{ position === questions.length - 1 ? 'Concluir' : 'Próxima'}}
    </button>
  </mat-dialog-actions>
</ng-container>
