.in2me-home {
  min-height: 100vh;
  background-color: var(--body-background);
  touch-action: pan-y !important;
}

.story-container {
  height: 200px;
  overflow-x: scroll;
  padding: 5px 0;

  .story-style {
    border: 1px solid #d1d1d1;
    border-radius: 25px;
    min-width: 95px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 10px 10px;
    height: 150px;
    width: 90px;

    .profile {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-position: center;
      border: 1px solid #d1d1d1;
    }

    .name {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px black;
    }

  }
}

