<div class="app-container mat-elevation-z7" fxLayout="column">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="example-button-row">

                <button (click)="showClientModel()" mat-button>Clientes</button>
                <button (click)="showPropostaModel()" mat-button>Enviar Proposta</button>
                <button mat-button>Post</button>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div *ngIf="showClient" class="mat-elevation-z8" style="margin-top: 40px;">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- documento Column -->
            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef> Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="contato">
                <th mat-header-cell *matHeaderCellDef> Contato </th>
                <td mat-cell *matCellDef="let element"> {{element.contato}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


    <div *ngIf="showProposta" class="mat-elevation-z8" style="margin-top: 40px;">
        <table mat-table [dataSource]="dataSourceProposta">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- documento Column -->
            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef> Escore </th>
                <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="contato">
                <th mat-header-cell *matHeaderCellDef> Status</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button>
                        <mat-icon>done</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
