<div class="app-container" fxLayout="column">
    <mat-toolbar class=" mat-elevation-z7" color="primary">
        <mat-toolbar-row>
            <div class="example-button-row">

                <button (click)="showClientModel()" mat-button>Solicitações</button>
                <button (click)="showPropostaModel()" mat-button>Enviar Proposta</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div *ngIf="showClient" class="mat-elevation-z8" style="margin-top: 40px;">
        <table mat-table [dataSource]="dataSource" style="cursor: pointer">

            <!-- Position Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element" (click)="openModalSolicitacao(element)"> {{element.user.name}} {{element.user.lastname}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef> Cidade </th>
                <td mat-cell *matCellDef="let element"> {{element.user.cidade}} </td>
            </ng-container>

            <!-- documento Column -->
            <ng-container matColumnDef="veiculo">
                <th mat-header-cell *matHeaderCellDef> Veiculo </th>
                <td mat-cell *matCellDef="let element"> {{element.veiculo.marca}} - {{element.veiculo.ano}} </td>
            </ng-container>

            <ng-container matColumnDef="situação">
                <th mat-header-cell *matHeaderCellDef> Situação </th>
                <td mat-cell *matCellDef="let element"> {{element.veiculo.situacao}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="e-mail">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


    <div *ngIf="showProposta" class="mat-elevation-z8" style="margin-top: 40px;">
        <table mat-table [dataSource]="dataSourceProposta">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- documento Column -->
            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef> Escore </th>
                <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="contato">
                <th mat-header-cell *matHeaderCellDef> Status</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button>
                        <mat-icon>done</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
