.container {
  width: 100%;
  background-color: var(--body-background);
  padding: 0;
}

.name {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.user {
  font-size: 10px;
}

.item-content {
  border-right: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  padding-top: 20px;
  background-color: var(--body-background);
  color: var(--text-color);

  .user-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
  }
}
.time {
  font-size: 9px;
  color: (--text-color);
}
