<div [ngClass.gt-md]="{'padding-lg': true}" [ngClass.md]="{'padding-md': true}" [ngClass.sm]="{'padding-sm': true}"
    [ngClass.xs]="{'padding-xs': true}" appTheme class="in2me-nav shadow">
    <img routerLink="/tela-inicio" src="../../assets/img/logo.png" alt="" class="logo" translate>
    <ng-template ngxPermissionsOnly="NOT_LOGGED">

        <div class="menu-inicial">
            <button button mat-button routerLink="/cadastro-segurado" class="mat-button uhp-mt-4 w-100"> Cadastrar
            </button>
            <button button mat-button (click)="openDialog()" class="mat-button uhp-mt-4 w-100"> Login </button>
        </div>
    </ng-template>
    <ng-template ngxPermissionsOnly="AUTH">

        <div ngClass.lg="w-40" ngClass.xl="w-30" [ngStyle.md]="{'width': '50%', 'margin-left': '-100px'}" class="search"
            fxHide.lt-md>
        </div>
    </ng-template>
    <div (click)="clickOpenCloseMenu($event)" class="search-xs" fxHide.gt-md>
        <span class="material-icons">menu</span>

    </div>
    <ng-template ngxPermissionsOnly="AUTH">
        <div (click)="clickOpenCloseMenuUser($event)" class="user-options" fxHide.lt-lg>
            <span>{{ authService.isLogged() ? authService.getUser().email : '/login' }}</span>
            <div class="shadow-sm"></div>
        </div>
    </ng-template>

</div>

<!-- NAV SIDEBAR -->
<div [@openCloseMenu]="menuState" class="nav-menu shadow" fxHide.gt-md fxLayout="column" fxLayoutAlign="end none">
    <app-side-menu class="w-100"></app-side-menu>
</div>

<!-- NAV USER MENU -->
<div (click)="$event.stopPropagation()" [@openCloseMenuUser]="menuUserState" class="user-menu shadow" fxHide.lt-lg
    fxLayout="column" fxLayoutAlign="start none">
    <div (click)="doLogout()" class="p-4" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px"
        style="cursor: pointer">
        <span class="material-icons">logout</span>
        <span translate>TEMPLATE.NAV.LOGOUT</span>
    </div>
</div>

<!-- FOCUS ANIMATION-->
<div [@focus]="focusState" class="focus"></div>

<!-- NG CONTENT -->
<main [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet='outlet'></router-outlet>
</main>



<!-- FOOTER -->
<div [ngClass.gt-md]="{'padding-lg': true}" [ngClass.md]="{'padding-md': true}" [ngClass.sm]="{'padding-sm': true}"
    [ngClass.xs]="{'padding-xs': true}" class="seg-footer" fxLayout="row" fxLayoutAlign="center center"
    style="flex-wrap: wrap">
</div>


<!-- MOBILE NAV -->

<div class="mobile-nav " fxHide fxLayout="row" fxLayoutAlign="space-around center" fxShow.lt-md
    [ngClass.sm]="{'padding-sm': true}">
    <ng-container *ngFor="let item of navItems">
        <div style="outline: none;" [routerLink]="[item.route]">
            <span class="material-icons">{{item.icon}}</span>
        </div>
    </ng-container>


</div>