.app-container{
    background: url(../../../../assets/img/fundo.png);
    height: 650px;

}

.fonteInicio{
    margin-top: 50px;
    font-size:35px;
    color: white;
    font-family: arial, sans-serif;
    font-weight: bold;
}

.quemSomos{
    width: auto;
    height: 650px;
    background-color: #8594e7;
}

.boxQS{
    background: url(../../../../assets/img/comprador.png);
    border-radius: 10px;
    width: 800px;
    height: 300px;
    margin-top: 90px;
    position: static;

}