.app-container{
    background: url(../../../../assets/img/fundo.png);
    height: 650px;

}

.fonteInicio{
    font-size:30px;
    color: white;
    font-family: arial, sans-serif;
    font-weight: bold;
}

.quemSomos{
    width: auto;
    height: 650px;
    background-color: #8594e7;
}