.settings-container {
  min-height: calc(100vh - var(--nav-height));
  background-color: var(--body-background);
  color: var(--text-color);
  touch-action: pan-y !important;
}
.settings-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.name {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;;
  align-items: center;
  gap: 15px;
}

.profile-image {
  background-position: center;
}

.user {
  font-size: 10px;
}

.item {
  border-top: 1px solid #d1d1d1;
  background-color: var(--body-background);
  color: var(--text-color);
  padding: 15px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
  }
}

.form-content {
  border-left: 3px solid #d1d1d1;
  background-color: var(--body-background);
  color: var(--text-color);
}
