.login-container {
  gap: 30px;
}

.login-content-sm {
  padding: 20px 15px 50px;
  border-radius: 5px;
  background-color: var(--body-background);

  .login-title {
    margin: 20px 0 30px;
    padding: 10px 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 5px;
  }

  h1 {
    color: white;
  }

  div {
    width: 250px;

    mat-form-field {
      margin-top: -10px;
      width: 100%;
    }
  }

  button {
    width: 250px !important;
    cursor: pointer;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}

.login-content {
  padding: 20px 50px 70px;
  border-radius: 5px;
  background-color: #f6f6f6;
  margin-top: 60px;

  .login-title {
    margin: 50px 0 50px;
    padding: 10px 0;
    background-color: #f6f6f6;
    color: var(--text-color);
    border-radius: 5px;
   
  }

  h1 {
    color: white;
  }

  div {
    width: 350px;

    mat-form-field {
      margin-top: -10px;
      width: 100%;
    }
  }

  //button:nth-child(3) {
  //  //background-color: var(--primary);
  //  color: white;
  //}

  button {
    cursor: pointer;
    padding: 5px;
    width: 20%;
    color: var(--text-color-button);
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}

.logo{
  width: 150px;
  height: 120px;
}

.app-container {
  background-color: rgba(0, 0, 0, 0.11);
}
