<div class="content w-100 shadow-sm p-2" fxLayout="column">
    <div fxHide fxShow.lt-lg fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="py-4 px-2"
        [routerLink]="user.route">
        <div style="width: 50px; height: 50px; border-radius: 50%; background-color: #d1d1d1"></div>
        <span routerLink='/home'>Dwayne Hoffmann</span>
    </div>
    <div fxHide fxShow.gt-sm class="py-4 px-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <span class="material-icons">home</span>
        <span translate>TEMPLATE.NAV.MENU.HOME</span>
    </div>
    <div class="py-4 px-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" routerLink="/settings">
        <span class="material-icons">settings</span>
        <span translate>TEMPLATE.NAV.MENU.CONFIG</span>
    </div>
    <ng-template ngxPermissionsOnly="AUTH">
        <div (click)="doLogout()" class="py-4 px-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px"
            style="cursor: pointer">
            <span class="material-icons">logout</span>
            <span translate>TEMPLATE.NAV.MENU.LOGOUT</span>
        </div>
    </ng-template>
</div>
<!--fxHide fxHide.lt-md-->